<div class="user-list">
    <h2>Users</h2>
    <div *ngFor="let user of data" class="user-card">
      <div class="user-info">
        <p><strong>User ID:</strong> {{ user.userUID }}</p>
        <p><strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}</p>
        <p><strong>Date of Birth:</strong> {{ user.dob | date }}</p>
        <p><strong>Mobile:</strong> {{ user.mobile }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>State:</strong> {{ user.state }}</p>
        <p><strong>Country:</strong> {{ user.country }}</p>

        <details class="relative-details">
            <summary>Relative Information</summary>
            <p><strong>Name:</strong> {{ user.relativeName }}</p>
            <p><strong>Number:</strong> {{ user.relativeNumber }}</p>
          </details>

        <details class="illness-details">
          <summary>Illness Details</summary>
          <p>{{ user.illnessDetails }}</p>
        </details>
        <button class="edit-btn" (click)="editUser(user)">Edit</button>
      </div>
    </div>
  </div>
  