<div class="admin-page">
  <!-- Sidebar Section -->
  <div class="sidebar">
    <ul>
      <li>
        <a routerLink="patient-details" routerLinkActive="active">Patient Details</a>
      </li>
      <li>
        <a routerLink="doctor-details" routerLinkActive="active">Doctor Details</a>
      </li>
      <li>
        <a routerLink="add-docter" routerLinkActive="active">Add Doctors</a>
      </li>
      <li>
        <a routerLink="add-patient" routerLinkActive="active">Add Patients</a>
      </li>
    </ul>
  </div>

  <!-- Main Content Section -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
